#busBookingContainer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
}

#busBookingContainer h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#busBookingContainer p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

#busBookingContainer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#busBookingContainer button:hover {
  background-color: #0056b3;
}
.buscontainer {
  display: flex;
}
.busDetails {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
}

.busDetails p {
  margin: 5px 0;
}

.busDetails p:first-child {
  font-weight: bold;
}

.busDetails p:nth-child(odd) {
  color: #333; /* Change the color of odd-numbered paragraphs */
}

.busDetails p:nth-child(even) {
  color: #666; /* Change the color of even-numbered paragraphs */
}
/* Bus seat container */
.seatContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

/* Bus seat */
.seat {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: 2px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Empty seat placeholder */
.emptySeat {
  width: 40px;
  height: 40px;
  /* Use the same background color as seats */
  background-color: #f0f0f0;
}

/* Occupied seat */
.seat.occupied {
  background-color: #ff8080; /* Change color for occupied seats */
  cursor: not-allowed; /* Change cursor for occupied seats */
}

.seat.booked {
  background-color: #00ff80; /* Change color for occupied seats */
  cursor: not-allowed; /* Change cursor for occupied seats */
}
/* First row */
.firstRow {
  display: flex;
  margin: 0;
}
/* Last row */
.lastRow {
  display: grid;
  grid-template-columns: repeat(5, 40px);
}
.seatInfo {
  display: flex;
  justify-content: center;
  border: 2px solid rebeccapurple;
}
.date-box {
  display: flex;
}
.date-item {
  width: 25px;
  height: 25px;
  color: #666;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
